<!DOCTYPE html>
<html lang="en">
	<head>
        <title>Tiny Tile Server</title>
        <!-- frameworks -->
        <script src="/assets/js/jquery-1.9.1.min.js"></script>
        
        <!-- Bootstrap -->
        <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet"></link>
        <link href="/assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"></link>
        <link href="/assets/css/docs.css" rel="stylesheet"></link>
        <script src="/assets/bootstrap/js/bootstrap.js"></script>

        <!-- Libraries -->
        <script src="/assets/js/jquery.nano.js"></script>
        
        <!-- Application -->
        <script src="/assets/js/Class.js"></script>
        <link href="/assets/css/application.css" rel="stylesheet"></link>
        <script src="/assets/js/application.js"></script>

        <style>
            body {
            padding-top: 0px;
            }
        </style>
    </head>
	
<!-- Subhead
 ================================================== -->
<header class="jumbotron subhead" id="overview">
    <div class="container">
		<h1 align="center">Web Map Tile Services</h1>
		<a style="margin-right:100px" id="hsr" href="http://www.hsr.ch"> <img style="float:left" src="/assets/img/hsr.jpg" alt="HSR"></a>
        <a id="ifs" href="http://www.ifs.hsr.ch"> <img style="float:right" src="/assets/img/ifs.jpg" alt="IFS"></a>
	</div>
</header>
	
<body data-spy="scroll" data-target=".navbar">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse">
                <a class="brand" href="/">Tiny Tile Server</a>
                <ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/tutorials">Tutorials</a></li>
					<li><a href="/protocol">Protocols</a></li>
					<li><a href="/planning">Planning</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
        
        %include
        
    <!-- Footer
         ================================================== -->
    <footer class="footer">
        <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; HSR Hochschule fur Technik Rapperswil, IFS Institut fur Sorftware, Carmen Campos Bordons</p>
            <ul class="footer-links">
            </ul>
        </div>
    </footer>
	
</body>
</html>