%rebase layout

<div class="container">
    <section>
		<table border="1">
			<tr>
				<td colspan="2"><h2 align="center">XYZ</h2></td>
			</tr>
			<tr>
				<td><a href="/exampleLL" title="Example"><img src="/assets/img/map1.jpg" alt="Layer"></a></td>
				<td><ul><li><a href="/exampleLL" title="Example">Initial example: Leaflet + hosted file</a></li></ul></td>
			</tr>
			<tr>
				<td><a href="/swtizerlandLL" title="Swtizerland"><img src="/assets/img/map2.jpg" alt="Layer"></a></td>
				<td><ul><li><a href="/swtizerlandLL" title="Swtizerland">Swtizerland map: Leaflet + hosted file</a></li></ul></td>
			</tr>
			<tr>
				<td><a href="/exampleLLlocal" title="Example"><img src="/assets/img/map1.jpg" alt="Layer"></a></td>
				<td><ul><li><a href="/exampleLLlocal" title="Example">Initial example: Leaflet + local file</a></li></ul></td>
			</tr>
			<tr>
				<td><a href="/switzerlandLLlocal" title="Swtizerland"><img src="/assets/img/map2.jpg" alt="Layer"></a></td>
				<td><ul><li><a href="/switzerlandLLlocal" title="Swtizerland">Switzerland map: Leaflet + local file</a></li></ul><td>
			</tr>
			<tr>
				<td><a href="/exampleOL" title="Example"><img src="/assets/img/map1.jpg" alt="Layer"></a></td>
				<td><ul><li><a href="/exampleOL" title="Example">Initial example: OpenLayers + hosted file</a></li></ul></td>
			</tr>
			<tr>
				<td><a href="/exampleOLlocal" title="Example"><img src="/assets/img/map1.jpg" alt="Layer"></a></td>
				<td><ul><li><a href="/exampleOLlocal" title="Example">Initial example: OpenLayers + local file</a></li></ul></td>
			</tr>
			<tr>
				<td><a href="/switzerlandOL" title="Swtizerland"><img src="/assets/img/map2.jpg" alt="Layer"></a></td>
				<td><ul><li><a href="/switzerlandOL" title="Swtizerland">Switzerland map: OpenLayers + hosted file</a></li></ul></td>
			</tr>
			<tr>
				<td><a href="/switzerlandOLlocal" title="Swtizerland"><img src="/assets/img/map2.jpg" alt="Layer"></a></td>
				<td><ul><li><a href="/switzerlandOLlocal" title="Swtizerland">Switzerland map: OpenLayers + local file</a></li></ul></td>
			</tr>
			<tr>
				<td colspan="2"><h2 align="center">WMTS</h2></td>
			</tr>
			<tr>
				<td><a href="/exampleLLwmts" title="Example"><img src="/assets/img/map1.jpg" alt="Layer"></a></td>
				<td><ul><li><a href="/exampleLLwmts" title="Example">Initial example: Leaflet + wmts</a></li></ul></td>
			</tr>
			<tr>
				<td><a href="/swtizerlandOLwmts" title="Swtizerland"><img src="/assets/img/map2.jpg" alt="Layer"></a></td>
				<td><ul><li><a href="/swtizerlandOLwmts" title="Swtizerland">Swtizerland map: Openlayers + wmts</a></li></ul></td>
			</tr>
			<!-- <tr>
				<td><a href="/geography-classOLwmts" title="geography-class"><img src="/assets/img/map3.jpg" alt="Layer"></a></td>
				<td><ul><li><a href="/geography-classOLwmts" title="geography-class">Geography map: Openlayers + wmts</a></li></ul></td>
			</tr> -->
		</table>
    </section>
</div>