<html>
<body>
<head>
        <title>Tiny Tile Server</title>
        <!-- framworks -->
        <script src="/assets/js/jquery-1.9.1.min.js"></script>
        
        <!-- Bootstrap -->
        <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet"></link>
        <link href="/assets/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"></link>
        <link href="/assets/css/docs.css" rel="stylesheet"></link>
        <script src="/assets/bootstrap/js/bootstrap.js"></script>
        
        
        <!-- Libraries -->
        <script src="/assets/js/jquery.nano.js"></script>
        
        <!-- Application -->
        <script src="/assets/js/Class.js"></script>
        <link href="/assets/css/application.css" rel="stylesheet"></link>
        <script src="/assets/js/application.js"></script>
        
        
        <style>
            body {
            padding-top: 0px;
            }
            </style>
        
    </head>

<!--%rebase layout title=title-->

    <link rel="stylesheet" href="http://openlayers.org/dev/theme/default/style.css" type="text/css">
    <style>
    .olControlAttribution {
    	font-size: smaller; 
    	right: 2px;
    	bottom: 2px;
    	position: absolute; 
    	display: block;
    }
    </style>
	
<script src="http://openlayers.org/dev/OpenLayers.js"></script>
<script src="/assets/js/openlayers_handler.js"></script>

<!-- Subhead
 ================================================== -->
<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>OpenLayers</h1>
        <p class="lead">Example ...</p>
    </div>
</header>
<div class="container">
    <section>
		<div id="map" style="width: 100%; height: 460px"></div>
    </section>
</div>


</body>
</html>