%rebase layout

<div class="container">
    <section>
		<table border="0" align="center">
			<h1 align="center">Some charts about how the code has been developed</h2>
			<tr>
				<td><h3>Development depending on the time of day</h3></td>
			</tr>
			<tr>
				<td><img src="/assets/img/punchcard.png" alt="punchcard"></td>
			</tr>
			<tr>
				<td><h3>Commits</h3></td>
			</tr>
			<tr>
				<td><img src="/assets/img/commits.png" alt="commits"></td>
			</tr>
			<tr>
				<td><h3>Contributors</h3></td>
			</tr>
			<tr>
				<td><img src="/assets/img/contributors1.png" alt="contributors"></td>
			</tr>
		</table>
    </section>
</div>