%rebase layout

<div class="container">
    <section>
		<table border="0" align="center">
			<tr>
				<td><h2><ul><li>Accessing tiles</li></ul></h2></td>
			</tr>
			<tr>
				<td><h3>XYZ direct access</h3></td>
			</tr>
			<tr>
				<td><img src="/assets/img/xyz.png" alt="XYZ"></td>
			</tr>
			<tr>
				<td><h3>WMTS access</h3></td>
			</tr>
			<tr>
				<td><img src="/assets/img/wmts.png" alt="WMTS"></td>
			</tr>
			<tr>
				<td><h2><ul><li>Accessing grids</li></ul></h2></td>
			</tr>
			<tr>
				<td><p>The UTFGrid origin is always on top left corner</p></td>
			</tr>
			<tr>
				<td><h2><ul><li>Accessing metadata</li></ul></h2></td>
			</tr>
			<tr>
				<td><h4>TileJSON</h4></td>
			</tr>
		</table>
    </section>
</div>