%rebase layout

<div class="container">
    <section>
		<table border="0" align="center">
			<h1 align="center">Creating beautiful interactive maps with TileMill</h1>
			<tr>
				<td><a href="/tileMillExample" title="Example"><img src="/assets/img/map1.jpg" alt="Layer"></a></td>
				<td><ul><li><a href="/tileMillExample" title="Example">How to create this?</a></li></ul></td>
			</tr>
			<tr>
				<td><a href="/tileMillSwitzerland" title="Switzerland"><img src="/assets/img/map2.jpg" alt="Layer"></a></td>
				<td><ul><li><a href="/tileMillSwitzerland" title="Switzerland">How to create this?</a></li></ul></td>
			</tr>	
		</table>
    </section>
</div>