%rebase layout

<div class="container">
    <section>
		<table border="1">
			<tr>
				<td><a href="/tileMillExample" title="Example"><img src="/assets/img/map1.jpg" alt="Layer"></a></td>
				<td><ul><li><a href="/tileMillExample" title="Example">How to create this?</a></li></ul></td>
			</tr>
			<tr>
				<td><a href="/tileMillSwitzerland" title="Switzerland"><img src="/assets/img/map2.jpg" alt="Layer"></a></td>
				<td><ul><li><a href="/tileMillSwitzerland" title="Switzerland">How to create this?</a></li></ul></td>
			</tr>
			<tr>
				<td><a href="http://api.tiles.mapbox.com/v3/mapbox.geography-class.mbtiles" title="Swtizerland"><img src="/assets/img/map3.jpg" alt="Layer"></a></td>
				<td><ul><li>You can get this <a href="/http://api.tiles.mapbox.com/v3/mapbox.geography-class.mbtiles" title="Swtizerland">here</a></li></ul></td>
			</tr>		
		</table>
    </section>
</div>